lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env
.temp
.flow
# Dependency directory
node_modules
bower_components
/static/assets
# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
dist
# Ignore built ts files

# ignore yarn.lock
/vue/public
/dist
build
/public/assets/images
/server/dist
